<mat-toolbar>
  <p>Cards</p>
</mat-toolbar>

<form #form="ngForm" (ngSubmit)="onFormSubmit(form)" fxLayout="row wrap" fxLayoutGap="17px grid">
  <div class="card" *ngFor="let card of cards">
    <img mat-card-image src="../assets/first.jpg">
    <div class="card-body">
      <h1 class="card-title">{{card.name}} {{card.num}}</h1>
      <p class="card-content">{{card.content}}</p>
      <a href="#" (click)="editrecipe('editpage', card.num, cards)" [routerLink]="['/editpage', card.num]"
        class="btn btn-secondary=">Edit recipe</a>
    </div>
  </div>
  <input ngModel  name="text" id="text"  type="card">
  <button [disabled]="!isAuth" class="button alt-gradient-button">
    <i class="material-icons">add</i>
    <p> ADD</p>
  </button>
</form>
<button class="btn-primary" (click)="goToPage('api')" routerLink="./api">Next Page Api</button>