.alt-gradient-button {
    display: flex;
    align-items: center;
    margin: 15px 5px;
    color: white;
    border: none;
    font-weight: 600;
    height: 25px;
    border-radius: 4px;
    opacity: 8px; 
}

 #text{
    height: 5px;
    float: left;
    cursor: pointer;
    padding: 5px 17px 17px -8px;
    line-height: inherit;
    margin-top: 15px;
}

p{
    margin-top: 25px;
}

i.material-icons{
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 15px;
   }

.card{
    border: 1px solid;
    margin-top: 118px;
    margin-left: 95px;
    border-radius: 5px;
    padding: 0px;
}

.btn-primary{
    float: left;
    margin: -350px 100px;
}